button[type='submit'] {
    padding: .25rem .25rem;
    background-color: $tangerine;
    border: 2px outset $white;
    border-radius: 4px;

    &:hover {
        background-color: $white;
        border-style: inset;
    }
}

button[type='button'] {
    color: $white;

    :hover {
        color: $orange;
    }
}